body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.8);
}

p {
  font-family: Oswald, sans-serif;
  }

span {
  color: rgba(255, 0, 0, 0.9);
    background-color: rgba(0, 255, 0, 0.8);
  }

img {
height: 60rem;
  width: 60rem;
  margin: 2rem;
}

#mainTitle {
  color: rgba(255, 0, 30, 0.7);
  font-family: "Mozilla Headline", sans-serif;
}

#mainPageTitle {
color: rgba(255, 255, 0, 0.5);
font-family: "Dancing Script", serif;
font-size: 200%;
}

#painel {
width: 90rem;  
height: 20rem;  
background-color: tomato; 
  white-space: wrap;
  overflow-x: auto; /* Cria barra de rolagem */
}

#result {
  color: white;
  background-color: blue;
  margin: 2rem;
  width: 90rem;
  height: 5rem;
  font-family: Arimo, sans-serif;
  }

#inputPainel {
  margin: 3rem;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  }

#inputPainel input {
  background-color: rgba(255, 255, 0, 0.9);
  color: rgba(20, 20, 20, 0.5);
  height: 10rem;
  width: 40rem;
  }

#inputPainel p {
  font-family: Rubik, sans-serif;
  color: rgba(0, 255, 255, 0.7);
}

#seehere {
color: rgba(255, 0, 0, 0.85);
font-family: "Merriweather", sans-serif;
}

#topicsContainer {
background-color: rgba(0, 0, 0, 0.3); 
display: flex;
flex-flow: column wrap;
width: 50rem;
}

#topicsContainer a{
font-family: "Space Mono", sans-serif;
color: rgba(255, 255, 255, 0.5);
background-color: rgba(0, 0, 255, 0.1);
width: 10rem;
height: 10rem;
margin: 2rem;
}

#imgContainer {
display: grid;
grid-template: 1fr / 1fr;
}

#imgContainer h3 {
font-size: 600%;
color: rgba(255, 255, 0, 0.7);
background-color: rgba(0, 0, 0, 0.2);
}
