body {
  text-align: center;
  background-color: rgba(0, 0, 255, 0.8);
}

p {
  font-family: Oswald, sans-serif;
  }

span {
  color: rgba(255, 0, 0, 0.9);
    background-color: rgba(0, 255, 0, 0.8);
  }

#mainTitle {
  color: rgba(255, 0, 30, 0.7);
  font-family: "Mozilla Headline", sans-serif;
}

#mainPageTitle {
color: rgba(255, 255, 0, 0.5);
font-family: "Dancing Script", serif;
}

#painel {
width: 60rem;  
height: 20rem;  
background-color: tomato; 
  white-space: wrap;
  overflow-x: auto; /* Cria barra de rolagem */
  margin: 2rem;
}

#result {
  color: white;
  background-color: blue;
  font-family: Arimo, sans-serif;
  }

#inputPainel {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 2rem 2rem;
  }

#inputPainel input {
  background-color: rgba(255, 255, 0, 0.9);
  color: rgba(20, 20, 20, 0.5);
  width: 45em;
  height: 15rem;
  }

#inputPainel p {
  font-family: Rubik, sans-serif;
  color: rgba(0, 255, 255, 0.7);
}

#seehere {
color: rgba(255, 0, 0, 0.85);
font-family: "Merriweather", sans-serif;
  font-size: 1.125rem;
}

#topicsContainer {
background-color: rgba(0, 0, 0, 0.3); 
display: grid;
gap: 2rem 2rem;
grid-template: repeat(4, 1fr) / repeat(3, 1fr);
}

#topicsContainer a {
font-family: "Space Mono", sans-serif;
color: rgba(255, 255, 255, 0.5);
background-color: rgba(0, 0, 255, 0.1);
}

#imgContainer {
display: grid;
grid-template: 1fr / repeat(8, 1fr);
}

#imgContainer h3 {
color: rgba(255, 255, 0, 0.7);
background-color: rgba(0, 0, 0, 0.2);
}

